/*版心公共类*/
.w {
	width: 1190px;/*版心*/
	margin: 0 auto;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
a {
	text-decoration: none;/*取消链接下划线*/
	color: #999999;
}
a:hover {
	color: #c81623;
}
*, h1 {
	margin: 0;
	padding: 0;
}
input, button {
	border: 0;
	outline: none;/*取消轮廓边框*/
}
ul {
	list-style: none;
}
body {
	background-color: #f6f6f6;
}
.f10 {
	color: #f10215!important;
}
/*声明字体图标*/
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?mhfqz');
  src:  url('../fonts/icomoon.eot?mhfqz#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?mhfqz') format('truetype'),
    url('../fonts/icomoon.woff?mhfqz') format('woff'),
    url('../fonts/icomoon.svg?mhfqz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*header 部分 start*/
header {
	width: 100%;
	height: 80px;
	background-color: rgb(255, 119, 1);
}
/*header 部分 end*/
/*快速导航栏 start*/
.shortcut {
	height: 30px;
	background-color: #e3e4e5;
	border-bottom: 1px solid #ddd;
	font-size: 12px;
	line-height: 30px;
	color: #999999;
}
.city {
	margin-left: 200px;
}
.shortcut li {
	float: left;
}
.shortcut i {
	font-family: "icomoon";
	font-style: normal;/*让<i>标签字体不倾斜*/
	color: #ccc;
}
.space {
	width: 1px;
	height: 10px;
	background-color: #ccc;
	margin: 10px 12px 0;/*上 左右 下*/
}
.mobile {
	position: relative;
}
.mobile img {
	position: absolute;
	left: -6px;
	top: 25px;
	border: 1px solid #ccc;
	padding: 2px;
}
/*快速导航栏 end*/
/*中间部分 start*/
.middle {
	height: 140px;
	position: relative;
}
.logo {
	position: absolute;
	top: -30px;
	left: 0;
	box-shadow: 0px -3px 10px rgba(0, 0, 0, 0.3);
}
.logo a {
	display: block;
	width: 190px;
	height: 170px;
	background: url(../images/logo.gif) no-repeat;
}
/*搜索框*/
.form {
	width: 550px;
	height: 35px;
	position: absolute;
	top: 25px;
	left: 320px;
}
.form input {
	width: 498px;
	height: 35px;
	border: 1px solid #f10215;
	float: left;
	padding-left: 5px;
	box-sizing: border-box;
}
.form button {
	width: 50px;
	height: 35px;
	background-color: #f10215;
	float: left;
}
.form button i {
	font-family: "icomoon";
	font-style: normal;/*让<i>标签字体不倾斜*/
	color: #fff;
}
/*购物车*/
.shopCar {
	width: 188px;
	height: 33px;
	line-height: 33px;
	font-size: 12px;
	border: 1px solid #ccc;
	position: absolute;
	top: 25px;
	right: 100px;
	background-color: #fff;
	color: #f10215;
	text-align: center;
}
.shopCar i {
	font-family: "icomoon";
	font-style: normal;/*让<i>标签字体不倾斜*/
	color: #f10215;
	margin-right: 5px;
}
.shopCar span {
	position: absolute;
	top: 5px;
	right: 38px;
	width: 15px;
	height: 15px;
	background-color: #f10215;
	border-radius: 50%;
	color: #fff;
	font-size: 12px;
	line-height: 15px;
}
/*关键词*/
.hotwords {
	position: absolute;
	top: 70px;
	left: 320px;
	font-size: 12px;
}
.hotwords a:hover {
	color: #f10215;
}
/*小导航部分*/
.navitems {
	width: 870px;
	height: 40px;
	position: absolute;
	bottom: 0;
	left: 200px;
	font-size: 14px;
	line-height: 40px;
}
.navitems li {
	float: left;
	margin-left: 25px;
}
.navitems li a {
	font-weight: 700;
	color: #555;
}
.navitems li a:hover {
	color: #f10215;
}
.navitems .space {
/*	margin-top: 15px;
	margin-left: 15px;
	margin-right: -12px;*/
	margin: 15px -12px 0 15px;
}
/*居家好物打牌购*/
.superbrand {
	position: absolute;
	bottom: 5px;
	right: 50px;
}
/*中间部分 end*/
/*页面底部分 start*/
footer {
	height: 500px;
	background-color: #eaeaea;
	margin-top: 35px;
}
/*服务模块*/
.service {
	padding: 30px 0;
	height: 60px;
	border-bottom: 1px solid #dedede;
	overflow: hidden;
}
.service ul li {
	width: 297px;
	height: 43px;
	line-height: 43px;
	position: relative;
	float: left;
}
.service li h5 {
	position: absolute;
	top: 0;
	left: 38px;
	width: 36px;
	height: 43px;
	/*精灵图*/
	background: url(../images/sprite.footer@2x.png) no-repeat 0 0;
	background-size: 113px 86px;
}
.service li:nth-child(2) h5 {
	background-position: -38px 0;
}
.service li:nth-child(3) h5 {
	background-position: -77px 0;
}
.service li:nth-child(4) h5 {
	background-position: 0 -43px;
}
.service ul li p {
	font-size: 16px;
	font-weight: 700;
	margin-left: 80px;
}
/*帮助模块*/
.help {
	height: 200px;
	border-bottom: 1px solid #dedede;
	padding-top: 25px;
	box-sizing: border-box;
}
.help dl {
	width: 192px;
	float: left;
}
.help dt {
	height: 30px;
	font-size: 16px;
	color: #666;
}
.help dd {
	height: 22px;
	font-size: 14px;
}
.coverage {
	width: 200px;
	height: 150px;
	/*精灵图*/
	background: url(../images/sprite.footer-01.png) no-repeat 0 0;
}
.coverage h5 {
	height: 30px;
	font-size: 16px;
	color: #666;
	font-weight: normal;
	text-align: center;
}
.coverage p {
	font-size: 12px;
	color: #666;
	line-height: 18px;
}
.coverage a {
	display: block;
	font-size: 12px;
	margin-top: 5px;
	text-align: right;
}
.coverage a:hover {
	color: #f10215;
}
/*版权*/
.copyright {
	padding-top: 25px;
	box-sizing: border-box;
	text-align: center;
	font-size: 12px;
	color: #666;
}
.copyright span {
	margin: 0 5px;
}
.copyright a:hover {
	color: #f10215;
}
.copyright div {
	margin-top: 20px;
}
.copyright div p {
	line-height: 22px;
}
.foot-icon a {
	display: inline-block;
	width: 103px;
	height: 33px;
	text-align: center;
	background-color: pink;
	/*精灵图*/
	background: url(../images/sprite.footer-01.png) no-repeat 0 -154px;
	margin-top: 5px;
}
.foot-icon a:nth-child(2) {
	/*精灵图*/
	background: url(../images/sprite.footer-01.png) no-repeat -202px 0;
}
.foot-icon a:nth-child(3) {
	/*精灵图*/
	background: url(../images/sprite.footer-01.png) no-repeat -202px -38px;
}
.foot-icon a:nth-child(4) {
	/*精灵图*/
	background: url(../images/sprite.footer-01.png) no-repeat -202px -76px;
}
.foot-icon a:nth-child(5) {
	/*精灵图*/
	background: url(../images/sprite.footer-01.png) no-repeat -202px -114px;
}
.foot-icon a:nth-child(6) {
	/*精灵图*/
	background: url(../images/sprite.footer-01.png) no-repeat -202px -152px;
}
/*页面底部分 end*/






