/*中间分类区域 start*/
.ads {
/*	background: url(../images/ads.png) no-repeat 0 5px;
	background-size: contain;*/
}
.grid {
	height: 480px;
}
.grid-col1 {
	width: 190px;
	height: 100%;
	background-color: #fff;
	color: #6e6568;
	font-size: 14px;/*修改 / 斜线 颜色，字体*/
	position: relative;
}
.grid-col1 a {
	color: #6e6568;
	font-size: 14px;
	margin: 0 3px;
}
.grid-col1 ul {
	padding: 20px 0;
}
.grid-col1 ul li {
	padding-left: 12px;
	height: 26px;
	line-height: 26px;
} 
.grid-col1 ul li:hover {
	background-color: #D0D0D0;
}
.grid-col1 ul li a:hover {
	color: #f10215;
}
.ad {
	width: 225px;
	height: 480px;
	position: absolute;
	top: 0px;
	left: -225px;
	margin-top: 10px;
	z-index: 1;
}
.ad-l {
	position: absolute;
	left: 0;
	top: 0;
} 
.ad-r {
	position: absolute;
	left: 225px;
	top: 0;
	width: 0;
	height: 470px;
	background: url(../images/banner-02.jpg) no-repeat;
	/*background-size: contain;*/
	transition: width 1s;/*添加过渡效果*/
} 
.ad:hover .ad-r {/*鼠标经过广告大盒子，显示右侧广告图片*/
	width: 790px;
}
.grid-col2 {
	width: 790px;
	height: 100%;
	margin-left: 10px;
}
.grid-col2 .grid-banner-left {
	margin-top: 10px;
	width: 590px;
	height: 470px;
	position: relative;
}
.arrow-l,
.arrow-r {
	position: absolute;
	top: 205px;
	width: 25px;
	height: 60px;
	background-color: rgba(0, 0, 0, 0.3);
	text-align: center;
	line-height: 60px;
	font-size: 16px;
	color: rgba(255, 255, 255, 0.5);
	font-family: arial;
}
.arrow-l {
	left: 0;
}
.arrow-r {
	right: 0;
}
.circle {
	position: absolute;
	width: 165px;
	height: 20px;
	background-color: rgba(0, 0, 0, 0.3);
	left: 50%;
	transform: translateX(-50%);
	bottom: 15px;
	border-radius: 10px;
	padding-left: 5px;
}
.circle li {
	width: 12px;
	height: 12px;
	background-color: #fff;
	border-radius: 50%;
	float: left;
	margin: 4px 4px 0;
	cursor: pointer;/*鼠标变成小手*/
}
.circle li.current {
	background-color: #f10215;
}
.grid-col2 .grid-banner-right {
	width: 190px;
	height: 150px;
}
.grid-col2 .grid-banner-right div {
	width: 190px;
	height: 150px;
	margin-top: 10px;
}
.grid-col3 {
	background-color: #fff;
	width: 190px;
	height: 470px;
	margin-top: 10px;
}
/*登录模块*/
.login {
	height: 115px;
	/*border-bottom: 1px solid #ccc;*/
	padding: 15px;
	box-sizing: border-box;
}
.login-t {
	width: 96px;
	font-size: 12px;
	white-space: nowrap;/*强制一行显示*/
	overflow: hidden;/*溢出隐藏*/
	text-overflow: ellipsis;/*显示省略号*/
	color: #666;
	padding-left: 60px;/*这里给padding是将文字挤到右边*/
	height: 60px;
	line-height: 20px;
	position: relative;
}
.login-t a {
	color: #666;
}
.login-t a:hover {
	color: #f10215;
}
.user-info {
	width: 40px;
	height: 40px;
	position: absolute;
	left: 0;
	top: 0px;
	border-radius: 50%;
	border: 5px solid rgb(220, 218, 215);
}
.user-info img {
	width: 100%;
	border-radius: 50%;
}
.login-b a {
	display: inline-block;
	width: 65px;
	height: 20px;
	border: 2px solid #f10215;
	font-size: 12px;
	text-align: center;
	line-height: 20px;
	margin: 5px 5px 0;
	color: #f10215;
}
.login-b a:hover {
	background-color: #f10215;
	color: #fff;
}
/*新闻模块*/
.news {
	height: 150px;
	border-bottom: 1px solid #ccc;
	padding: 7px 13px 0;
	box-sizing: border-box;
}
.news-t {
	height: 19px;
	position: relative;/*子绝父相*/
}
.news-t a {
	float: left;
	height: 17px;
	line-height: 17px;
	font-size: 12px;
}
.cuxiao {
	width: 38px;
	border-right: 1px solid #ccc;
}
.gonggao {
	margin-left: 15px;
}
.news-t .more {
	float: right;
}
.news-t div {
	width: 28px;
	height: 2px;
	background-color: #f10215;
	position: absolute;
	bottom: -1px;
	left: 0;
}
.news-b {
	padding-top: 15px;
}
.news-b li {
	height: 25px;
	font-size: 12px;
}

/*服务扩展*/
.expand {
	height: 209px;
	padding: 10px 13px 0;
}
.expand li {
	width: 41px;
	height: 65px;
	float: left;
	box-sizing: border-box;
	color: rgb(199, 189, 159);
	font-size: 12px;
}
.expand li a {
	display: block;
	padding-top: 15px;
	font-size: 12px;
	text-align: center;
	color: rgb(199, 189, 159);
}
.expand li a:hover {
	color: #f10215;
}
.expand li a i {
	display: block;
}
.expand li a span {
	display: block;
	margin-top: 3px;
}
/*中间分类区域 end*/
/*屏幕右侧广告*/
.ads-618 {
	position: fixed;
	top: 0px;
	right: 0px;
}


