* {
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: none;
}
.clear {
    clear: both;
}
a {
    text-decoration: none;
}
.container {
    /* border: 1px solid black; */
    width: 1000px;
    margin: 0 auto;
}
/* 左边菜单栏 */
.left-menu {
    background-color: cadetblue;
    width: 350px;
    height: 100%;
    float: left;
    color: white;
    background: url(../images/left-menu-bg-02.JPG) no-repeat center center;
}
.left-menu .photo {
    margin: 125px auto 0;
    width: 80px;
}
.left-menu .photo img {
    border-radius: 50%;
    border: 2px solid white;
}
.left-menu .username {
    margin: 0 auto;
    text-align: center;
    font-size: 36px;
}
.left-menu .life-motto {
    margin: 0 auto;
    text-align: center;
    color: #CCCCCC;
}
.left-menu .introduce {
    width: 250px;
    margin: 50px auto 0;
    text-align: center;
}
.left-menu .footer {
    margin: 50px auto 0;
}
.footer a {
    display: block;
    text-align: center;
    color: white;
    margin: 0 auto;
    width: 60px;
    height: 24px;
    border: 1px solid white;
    font-size: 16px;
}
/* 右边菜单栏 */
.right-menu {
    width: 650px;
    /* height: 100px; */
    float: right;
}
.right-menu .list {
    margin: 30px 50px 30px;
}
.right-menu .list a {
    color: #333333;
    font-size: 18px;
    margin: 30px 0 0;
}
.right-menu .list a:hover {
    color: #333333;
}
.right-menu .list p {
    color: #999999;
    font-size: 14px;
    padding: 5px 0 30px;
    /* border-bottom: 1px solid #999999; */
}